* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

.create-task-block,
.filter-task-block {
    flex-basis: calc(50% - 20px);
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 20px;
}

.task-title {
    margin-top: 0;
    font-size: 20px;
}

.input-field {
    margin-bottom: 10px;
}

.task-input,
.filter-input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

.btn {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #45a049;
}

.collection {
    list-style-type: none;
    padding: 0;
}

.collection li {
    /* padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative
}

.collection li i {
    /* margin-left: 10px;
    cursor: pointer;
    color: #999;
    transition: color 0.5s ease; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    color: #999;
    transition: color 0.5s ease;
}

.collection li .edit-item {
    right: 35px;
}

.collection li i:hover {
    color: #666;
}

.clear-tasks {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.clear-tasks:hover {
    background-color: #da190b;
}